# Ignore the main project file (optional)
/project.godot

# Ignore all Godot metadata folders
**/.godot/
**/.godot/**

# Ignore all .cfg files (editor layout, recent files, etc.)
*.cfg

# Ignore import files
.import/
*.import

# Ignore uid cache
*.bin

# Ignore shader material files
addons/flowerwall_postprocess/shaders/*.material
