# Ignore Godot project metadata (this folder is the problem)
NOTPONG/.godot/
NOTPONG/.godot/**

# Ignore editor-specific files
*.cfg
*.bin

# Ignore Godot import files
*.import
.import/

# (Optional) Ignore the project.godot file
NOTPONG/project.godot

# (Optional) Ignore shader material files
NOTPONG/addons/flowerwall_postprocess/shaders/*.material
